$primaryBgColor: #c0c8c8;
$white: white;
$bodyBgColor: white;
$linkBgColor: #eaeaea;
$sectionTitleColor: #635fb6;
$hoverBgColor: #dee9ff;
$progressColor: #6a6a6a;
$boxShadow: #e5e5e5;
$lightGrayAlt: #ececec9e;
$borderGray: #f1f1f1b0;
$lightGrayBgColor: #f9f9f99e;
$textColor: #3f4142;
$drkThemeGray: #717171;
$drkThemeBgColor: #262626;
$drkThemeHover: #3f3f3f;
$drkThemeBgAlt: #343434;
$drkThemeColor: #dedede;
$drkThemeHeaderTitle: #adadad;
$drkThemeSeparator: #50e08e;
$drkThemeSubTitle: #bcbcbc;
